{% extends '::base.html.twig' %}

{% block title %}Volma - Projects{% endblock %}
{% block selectprojects %} class="active" {%endblock%}

{% block body %}
{% block admin %}
{% endblock %}
List of projects<br><br>
 {% for r in result %} 
        <div class="notify" >
        <p align="left"><a href="project_view?id={{id}}&pid={{r.getId()}}"<strong>{{r.getName()}}</strong></a></p>
        </div>
        </p>
    {% endfor %}
{% endblock %}
