{% extends '::base.html.twig' %}

{% block title %}Volma - Projects{% endblock %}
{% block selectprojects %} class="active" {%endblock%}

{% block body %}
{% block admin %}
{% endblock %}
<h2 class="price">List of projects</h2><br><br>
 {% for r in result %} 
        
            <style type="text/css">
.none a:link { text-decoration: none }
</style>
        <h2 class="none"><a href="project_view?id={{id}}&pid={{r.getId()}}"><div class="notify" ><strong>{{r.getName()}}</strong></div></a></h2>
        
        </p>
    {% endfor %}
{% endblock %}
