{% extends 'VolunteerManagementSystemProjectBundle:Projectview:projectview.html.twig' %}

{% block createevent %}
<p align="right">
    <a href="create_evet?id={{id}}&projectId={{pid}}&pname={{project.getName()}}"><button>Create Event</button></a>
</p>
 {% endblock %}