{% extends '::base.html.twig' %}

{% block title %}Volma - Home{% endblock %}
{% block selecthome %}class="active" {%endblock%}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('bundles/volunteermanagementsystemstyles/CSS/fullcalendar.css')}}" type="text/css" media="screen"> 
        
{% endblock %}

{% block javascripts %}
 <script src="{{asset('bundles/volunteermanagementsystemstyles/JS/jquery.js')}}" type="text/javascript"></script>
 <script src="{{asset('bundles/volunteermanagementsystemstyles/JS/fullcalendar.js')}}" type="text/javascript"></script>
<script>$(document).ready(function() {

    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar('next');
    $('#calendar').fullCalendar({
    dayClick: function() {
        alert('a day has been clicked!');
    }
});

});
</script>
{% endblock %}
{% block body %}
<h1 class="price">Notifications</h1>
<p align ="justify">Following notifications displays uptodate project & events npotifications that were subscribed by you. It also display special notifications which mainly concerns you.</p>

<p> </p>
<h1 class="price">Calendar</h1>
<p align ="justify">Following calendar displays up to date project scheduled events and organized workshops that are open for every volunteer. It also indicate special days which are deadlines or progress dates for events your registered to.</p>
<div id='calendar'></div>


{% endblock %}
