{% extends 'VolunteerManagementSystemPagesBundle:Homepage:homepage.html.twig' %}
{% block adminpromotion %}
<p align="right">
<a href="adminManagement?id={{id}}">

            <button>Admin Management</button></a>
        <a href="OverallReport?id={{id}}">

            <button type="submit">Statistics</button></a>
 </p>

{% endblock %}

{% block adminreport %}

{% endblock %}
