{% extends 'VolunteerManagementSystemPagesBundle:Homepage:homepage.html.twig' %}
{% block adminpromotion %}

<form action="adminManagement?id={{id}}" method="post" >
<p align="right">
            <button type="submit">Admin Management</button>
 </p>
</form>
{% endblock %}
{% block adminevent %}

        <p align="right">
            <a href="manage_event?id={{id}}"<strong><button type="submit">Manage Events</button></strong></a>
            
       </p>

{% endblock %}
{% block adminreport %}

{% endblock %}