{% extends 'VolunteerManagementSystemPagesBundle:Homepage:homepage.html.twig' %}
{% block adminpromotion %}

<form action="{{ path('just') }}" method="post" >
<p align="right">
            <button type="submit">Promote Administrator</button>
 </p>
</form>
{% endblock %}
{% block adminevent %}
<form action="{{ path('just') }}" method="post" >
        <p align="right">
            <button type="submit">Manage Events</button>
       </p>
</form>
{% endblock %}
{% block adminreport %}

{% endblock %}