{% extends '::base.html.twig' %}

{% block title %}Volma - Error{% endblock %}

{% block body %}
     <p align="center">   
         <h1>ERROR</h1>
         <br>
         You do not have privilege to access this page
      </p>

{% endblock %}