{% extends '::base.html.twig' %}

{% block title %}Volma - Error{% endblock %}

{% block body %}
     <h1 align="center">ERROR</h1><p align="center">   
         
         <br>
         You do not have privilege to access this page
     </p>

{% endblock %}