{% extends "::base.html.twig" %}

{% block title %}VolunteerManagementSystemReportGenerationBundle:ProjectReport:ProjectReport{% endblock %}

{% block body %}
<h1>Welcome to the ProjectReport:ProjectReport page</h1>
{% endblock %}
