
{% extends '::base.html.twig' %}

{% block title %}Volma - Registration{% endblock %}

{% block body %}
 <section class="container">
    <div class="login">
      <h1>Register</h1>
           
        
okjoj<br>
{{ form_widget(form) }}
 </div>
        

  </section>


{% endblock %}





