{% extends '::base.html.twig' %}

{% block title %}
Volma - Confirm Project Creation
{% endblock %}

{% block body %}
<h1 align = "center"> Confirm Project Creation</h1>
<p align="center">
Project has been created successfully!</p>
{% endblock %}