
{% extends '::base.html.twig' %}

{% block title %}Volma - Registration{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
 <section class="container">
    <div class="login">
      <h1>Register</h1>
      {{form(form)}}
        
        
        
        
        
 
        
 
    </div>
        

  </section>


{% endblock %}





