{% extends "::base.html.twig" %}

{% block title %}VolunteerManagementSystemReportGenerationBundle:TrackRecord:TrackRecord{% endblock %}

{% block body %}
<h1>Welcome to the TrackRecord:TrackRecord page</h1>
{% endblock %}
