{% extends 'VolunteerManagementSystemPagesBundle:Projectspage:projectspage.html.twig' %}

{% block admin %}
<form action="projectcreation?id={{id}}" method="post" >
<p align="right">
            <button type="submit">Create Project</button>
 </p>
</form>
{% endblock %}
