{% extends 'VolunteerManagementSystemPagesBundle:Newspage:newspage.html.twig' %}

{% block admin%}
<form action="{{ path('just') }}" method="post" >
<p align="right">
            <button type="submit">Create News</button>
 </p>
</form>
{% endblock %}
