{% extends '::base.html.twig' %}

{% block title %}Volma - News{% endblock %}

{% block selectnews %} class="active" {%endblock%}
{% block body %}
{% block admin %}
{% endblock %}
<h1 class="price">News Feed</h1>
{% for res in result %}
 <p>
        
        <div class="notify" >
        <p align="left"><strong>
        {{ res['heading'] }}</strong><br>
        {{ res['description'] }}<br></div>
{% endfor %} 
{% endblock %}
