{% extends 'VolunteerManagementSystemPagesBundle:Newspage:newspage.html.twig' %}

{% block admin%}
<p align="right">
    <a href="createNews?id={{id}}">
        <button>Create News</button></a>
    <a href="workshopCreate?id={{id}}">
        <button>Create Workshop</button></a>
</p>

{% endblock %}
