{% extends '::base.html.twig' %}

{% block title %}
Volma - Success
{% endblock %}

{% block body %}
<h1 align = "center"> Confirm Workshop Creation</h1>
<p align="center">
Workshop has been created successfully!</p>
{% endblock %}