{% extends '::base.html.twig' %}

{% block title %}
Volma - Confirm Event Creation
{% endblock %}

{% block body %}
<h1 align = "center"> Confirm Event Creation</h1>
<p align="center">
Event has been created successfully!</p>
{% endblock %}