{% extends '::base.html.twig' %}

{% block title %}
Volma - Confirm event Creation
{% endblock %}

{% block body %}
<h1 align = "center"> Confirm event Creation</h1>
<p align="center">
event has been created successfully!<br>
We have informed <strong>{{name}}</strong> about his appointment
</p>
{% endblock %}