{% extends '::base.html.twig' %}

{% block title %}Volma - Error{% endblock %}

{% block body %}
     <h1 align="center">Success</h1><p align="center">   
         
         <br>
         <strong>{{name}}</strong> is now an volunteer in the system
         <br>
         <br>
         <a href="home?id={{id}}"><button>continue</button></a>
         
     </p>

{% endblock %}

