{% extends '::base.html.twig' %}

{% block title %}
Volma - Confirm
{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
<h1 align = "center"> Confirm</h1>
<p align="center">
We have sent you an confirmation email to your email address.<br> Please follow the link on it to activate your account.<br> Thank You!</p>
{% endblock %}