{% extends '::base.html.twig' %}
{% block title %}Volma - Registration{% endblock %}
 {% block stylesheets %}{% endblock %}
{% block body %}

<h1>Please fill in the form correctly</h1>

{% endblock %}
